<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo me-auto">
      <h1><a href="#">Дари Храна Дари Любов</a></h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Начало</a></li>
        <li><a class="nav-link scrollto" href="#about">За Нас</a></li>
        <li><a class="nav-link scrollto" href="#services">Услуги</a></li>
        <li><a class="nav-link scrollto" href="#team">Екип</a></li>
        <li><a class="nav-link scrollto" href="#contact">Контакти</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End #header -->
